@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');


body{
    background-color:hsl(210, 18%, 96%);

}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
    z-index:1;
    
   
    

}


#subtitulo{
    max-width:280px;
    max-height:150px;
    width: auto;
    height: auto;

}


#nempresa{
    max-width:120px;
    max-height:150px;
    width: auto;
    height: auto;

}

#line{

    position: relative;
    top: 275px;
    left: 65px;
    z-index:2;
    background-color: none;


}


section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: left;



}

#textbox{
    position:relative;
    margin-left:-20.8%;
    top: -105px;
    
}


.content2{
    position:relative;
    width:-100%;
    margin-top: 30%;
    align-items: center;
    left:5px;


}

.content2 h1{
    color: #204969;
    font-family: 'STIX Two Text', serif;
    font-size: 100px;

}


p,label{
    color:#818181;
    font-family: 'Source Sans Pro', sans-serif;

}

#alterar-botao{
    width: 115px;
    height: 40px;

  
    

}

#remover-botao{
    width: 115px;
    height: 40px;

  
    

}

.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}

#form{

    width: 800px;
    grid-row: 4/4;
    grid-column: 2/3;
    
    
}

#envio-cadastro{

    width:800px;
}