<%- contentFor( 'body') %>

    <section id="home">
        <article id="home-content">
            <div id="title-container">
                <img id="subtitulo" src="images/nomeempresa.png" alt="Imagem ilustrativa de médico">
                <img id="title-line" src="images/subtítulo_05.png" alt="Imagem ilustrativa de médico">
            </div>
            <h1>Clínica</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan <br> lacus vel facilisis.
            </p>
        </article>
        <aside>
            <img src="images/sobre.png" alt="Imagem ilustrativa de médico">
        </aside>
    </section>