<%- contentFor( 'body') %>

<div class="jumbotron text-center">
    <h1>Sobre</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil sunt explicabo aliquam, quo eius expedita reiciendis aperiam magni a distinctio commodi dolorem iusto cumque temporibus cupiditate sint, tempora consectetur praesentium.</p>
</div>