<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<%- contentFor( 'body') %>

  <img id="line2" src="images/enfeite_05.png" alt="Imagem ilustrativa de médico" >

<section>
<div class="content">
    <div id="textbox">
    <img id="nempresa" src="images/nomeempresa.png" alt="Imagem ilustrativa de médico" >
    <h1>Clínica</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,  sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
    Risus commodo viverra maecenas accumsan lacus vel facilisis.Quis ipsum suspendisse. </p>
    </div>
    <div class="img2">
    <img src="images/sobre.png" alt="Imagem ilustrativa de médico" >
    </div>
</div>

</section>