<header>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">SOBRE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastro">PACIENTES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastro-pacientes">CADASTRO</a>
            </li>
        </ul>
    </nav>
</header>