<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<%- contentFor( 'body') %>

<section>
<div class="content">
    <div id="textbox">
    <img src="images/subtítulo_03.png" alt="Imagem ilustrativa de médico" >
    <h1>MedCare</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et <br> dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
    Risus commodo viverra maecenas accumsan <br> lacus vel facilisis. </p>
    </div>
    <div class="img">
    <img src="images/medicine.png" alt="Imagem ilustrativa de médico" >
    </div>
</div>

</section>